<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Capstone2020</display-name>
  <welcome-file-list>
    <welcome-file>loginservlet</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>staffmanagement</servlet-name>
    <servlet-class>servlets.StaffManagementServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>addStaff</servlet-name>
    <servlet-class>servlets.AddStaffServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>menu</servlet-name>
    <servlet-class>servlets.MenuServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>loginservlet</servlet-name>
    <servlet-class>servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>staffmanagement</servlet-name>
    <url-pattern>/staffmanagement</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>addStaff</servlet-name>
    <url-pattern>/addstaff</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>menu</servlet-name>
    <url-pattern>/menu</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>loginservlet</servlet-name>
    <url-pattern>/loginservlet</url-pattern>
  </servlet-mapping>
  
 
</web-app>